*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: white;
}

.about{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.about-name{
    position: relative;
    font-size: 25px;
    color: #04fffb;
    font-weight: 600;
}

.about-name:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.about-name::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s ;
}

.sec a{
    padding-right: 30px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.sec a:hover,
.sec a.active{
    color: #00abf0;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: url(home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.about-main{
    width: 600px;
}

.about-main h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.about-main h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s ;
}

.about-main h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.about-main h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s ;
}


.about-main p{
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.about-main p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s ;
}



.social-media{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    align-items: center;
    bottom: 40px;
    width: 170px;
}

.social-media::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s ;
    z-index: 2;
}


.social-media a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    color: #00abf0;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
}



.social-media a::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #00abf0;
    transition: .5s;
    z-index: -1;
}

.social-media a:hover::before{
    width: 100%;
}

.social-media a:hover{
    color: #081b29;
}

.img-hover{
    position: absolute;
    top: 0;
    right: 50px;
    width: 600px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.img-hover::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s ;
    z-index: 100;
}

.img-hover:hover{
    background: #081b29;
    opacity: .8;
}

/*KEYFRAMES ANIMATIONS*/

@keyframes showRight{
    100%{
        width: 0;
    }
}

@keyframes manipActiveHover{
    100%{
        pointer-events: auto;
    }
}